* {
  padding: 0;
  margin: 0;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 14px;
  font-weight: 400;
  outline: none;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-height: 1000px;
  height: 100%;
  background-color: #0A0C15;
  background-image: url("../assets/images/background-image.png");
  background-size: cover;
}

header {
  height: 80px;
  max-width: 1440px;

  margin: 60px auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;

    &__text {
      color: $color-white;

      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 100%;
      text-align: center;
    }

    &__icon {
      width: 32px;
      height: 32px;

      margin-left: 24px;

      background-image: url("../assets/images/icons/icon-burger.svg");
    }
  }
}

section {
  max-width: 1440px;

  margin: 0 auto;

  &#main {
    margin-bottom: 170px;

    .main-container {
      display: flex;
      flex-direction: column;

      &__column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-bottom: 150px;

        &-logo {
          width: 171px;
          height: 121px;

          margin-bottom: 100px;

          background-image: url("../assets/images/main-logo.png");
        }

        &-headline {
          margin-bottom: 70px;

          font-style: normal;
          font-weight: normal;
          font-size: 64px;
          line-height: 100%;
          text-align: center;

          color: #FFFFFF;
        }

        &-button {
          height: 32px;

          padding: 0 20px;

          background-color: transparent;
          border: none;

          display: flex;

          cursor: pointer;

          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 100%;
          text-align: center;

          color: $color-yellow;

          &__icon {
            width: 32px;
            height: 32px;

            margin-left: 4px;

            background-image: url("../assets/images/icons/icon-chevron-right.svg");
          }
        }
      }

      &__comment {
        display: flex;
        align-self: flex-end;

        &-line {
          color: #FFFFFF;

          font-weight: bold;
          font-size: 48px;
          line-height: 36px;
        }

        &-text {
          margin-left: 16px;

          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 18px;
          text-align: right;

          color: #BDBDBD;
        }
      }
    }
  }

  &#about {
    .about-container {
      display: flex;
      justify-content: space-between;

      min-height: 771px;

      &__block {
        width: 50%;

        margin-left: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-content {
          width: 432px;
          height: 100%;

          display: flex;
          flex-direction: column;
          justify-content: center;

          position: relative;

          &__headline {
            margin-bottom: 48px;

            font-style: normal;
            font-weight: bold;
            font-size: 64px;
            line-height: 100%;

            color: #FFFFFF;
          }

          &__text {
            max-width: 500px;

            text-align: justify;

            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 120%;

            color: #BDBDBD;

            span {
              font-style: normal;
              font-weight: bold;
              font-size: 18px;
              line-height: 120%;


            }
          }

          &__info-block {
            display: flex;
            flex-direction: column;
            align-items: center;

            position: absolute;

            background-color: $color-blue;

            &__headline {
              margin: 4px 0;

              font-style: normal;
              font-weight: bold;
              font-size: 72px;
              line-height: 115%;

              color: #FFFFFF;
            }

            &__subtitle {
              font-style: normal;
              font-weight: normal;
              font-size: 24px;
              line-height: 115%;

              color: #FFFFFF;
            }

            &:nth-child(1) {
              padding: 16px 40px;

              left: 56px;
              top: 0;
            }

            &:nth-child(2) {
              padding: 40px 24px;

              right: 0;
              top: 45%;
              transform: translateY(-50%);
            }

            &:nth-child(3) {
              padding: 56px 20px;

              left: 0;
              bottom: 0;
            }
          }
        }
      }
    }
  }
}
