@media screen and (max-width: 1024px) {
  header {
    max-width: 1024px;

    margin: 60px auto 110px auto;
  }

  section {
    max-width: 1024px;

    padding: 0 20px;

    &#main {
      .main-container {

        &__column {
          margin-bottom: 310px;

          &-logo {
            margin-bottom: 50px;
          }
        }
      }
    }

    &#about {
      .about-container {
        &__block {
          &-content {
            width: 330px;

            &__headline {
              font-size: 56px;
            }

            &__info-block {
              &__headline {
                font-size: 64px;
              }

              &__subtitle {
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 115%;

                color: #FFFFFF;
              }

              &:nth-child(1) {
                max-width: 165px;
                max-height: 165px;

                top: -40px;
                left: 50px;
              }

              &:nth-child(3) {
                max-width: 250px;
                max-height: 250px;

                top: 40px;
                left: 20px;

                padding: 36px 0;
              }
            }
          }
        }
      }
    }

    &#projects {
      .projects-container {

        &__headline {
          margin-bottom: 64px;

          font-size: 56px;
        }

        &__grid-container {
          max-width: 100%;

          margin-bottom: 64px;
          padding: 0 20px;
        }

        &__button-container {
          width: 100%;
        }
      }
    }

    &#contact {
      .contact-container {
        &__info-block {
          width: 80%;

          &__headline {
            margin-bottom: 40px;

            font-size: 32px;
            line-height: 36px;
          }

          &__list {
            margin-bottom: 40px;

            &__list-item {
              font-size: 20px;
              line-height: 24px;
            }
          }

          &__link {
            &-info {
              font-size: 20px;
              line-height: 24px;
            }

            &-button {
              &__text {
                font-size: 20px;
                line-height: 24px;
              }
            }
          }
        }
      }
    }
  }

  footer {
    margin-bottom: 60px;

    flex-direction: column;

    .footer-logo {
      margin-bottom: 40px;
    }

    .footer-container {
      width: 360px;

      display: grid;

      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);

      &__column {
        margin-left: 0;

        min-width: 0 !important;
        max-width: 320px;
      }
    }
  }

  #nav {
    .navigation {
      min-width: 0;

      left: 10px;

      &-container {
        &__captions-container {
          display: none;
        }
      }
    }
  }

}

@media screen and (max-width: 720px) {
  header {
    max-width: 720px;

    margin: 60px auto 110px auto;
  }

  section {
    max-width: 720px;

    padding: 0 20px;

    &#main {
      margin-bottom: 350px;

      .main-container {
        &__column {
          margin-bottom: 80px;

          &-logo {
            margin-bottom: 50px;
          }

          &-headline {
            max-width: 600px;
            width: 100%;

            margin-bottom: 70px;

            font-size: 48px;
          }
        }
      }
    }

    &#about {
      margin-bottom: 48px;

      .about-container {
        flex-wrap: wrap;

        &__block {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: stretch;
          align-items: center;

          &-content {
            width: 100%;
            margin: 20px auto;

            &__headline {
              margin-bottom: 24px;

              font-size: 48px;
            }

            &__text {
              max-width: 100%;
            }

            &__info-block {
              align-self: center !important;

              padding: 20px !important;
              margin-bottom: 20px;

              &__headline {
                margin: 4px 0;

                font-size: 48px;
              }

              &__subtitle {
                text-align: center;
              }

              &:nth-child(1) {
                max-width: 100%;
                max-height: 100%;

                top: 0;
                left: 0;
              }

              &:nth-child(2) {
                max-width: 100%;
                max-height: 100%;


              }

              &:nth-child(3) {
                max-width: 100%;
                max-height: 100%;

                top: 0;
                left: 0;
              }
            }
          }
        }
      }
    }

    &#projects {
      .projects-container {
        &__headline {
          font-size: 48px;
        }

        &__grid-container {
          max-width: 100%;

          grid-template-columns: repeat(1, 1fr);
          grid-row-gap: 32px;

          &__block {
            padding: 0 16px;

            &__info-line {
              &__info-container {
                &__project {
                  &-name {
                    font-size: 24px;
                  }
                }
              }
            }

            &__description-line {
              &__text {
                font-size: 18px;
              }
            }
          }
        }

        &__button-container {
          width: 100%;

          &__button {
            width: 100%;

            margin: 0 20px;
          }
        }
      }
    }

    &#contact {
      .contact-container {
        &__info-block {
          width: 75%;

          &__headline {
            margin-bottom: 40px;

            font-size: 32px;
            line-height: 36px;
          }

          &__list {
            margin-bottom: 40px;

            &__list-item {
              font-size: 20px;
              line-height: 24px;
            }
          }

          &__link {
            &-info {
              font-size: 20px;
              line-height: 24px;
            }

            &-button {
              &__text {
                font-size: 20px;
                line-height: 24px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  header {
    max-width: 420px;

    margin: 20px auto 60px auto;

    .text-logo {
      height: 32px;
    }

    .menu-container {
      &__text {
        display: none;
      }
    }
  }

  section {
    max-width: 420px;

    padding: 0 20px;

    &#main {
      margin-bottom: 450px;

      .main-container {
        &__column {
          margin-bottom: 80px;

          &-logo {
            margin-bottom: 50px;
          }

          &-headline {
            max-width: 600px;
            width: 100%;

            margin-bottom: 70px;

            font-size: 36px;
          }

          &-button {
            height: 24px;

            font-size: 18px;

            &__icon {
              width: 24px;
              height: 24px;
            }
          }
        }

        &__comment {
          &-line {
            font-size: 40px;
            line-height: 36px;
          }

          &-text {
            font-size: 18px;
            line-height: 18px;
            text-align: right;

            color: #BDBDBD;
          }
        }
      }
    }

    &#about {
      .about-container {
        &__block {

          &-content {
            width: 100%;

            &__headline {
              font-size: 36px;
            }

            &__text {
              max-width: 360px;
            }
          }
        }
      }
    }

    &#projects {
      .projects-container {
        &__headline {
          font-size: 36px;
        }

        &__grid-container {
          max-width: 100%;
          width: 100%;

          &__block {
            padding: 0 32px;

            &__info-line {
              &__info-container {
                &__project {
                  &-name {
                    font-size: 24px;
                  }
                }
              }
            }

            &__description-line {
              &__text {
                font-size: 18px;
              }
            }
          }
        }

        &__button-container {
          width: 100%;

          &__button {
            width: 100%;

            margin: 0;
          }
        }
      }
    }

    &#contact {
      .contact-container {
        &__info-block {
          width: 100%;
          max-width: 320px;

          padding: 20px;
          margin: 0;

          &__headline {
            max-width: 320px;

            margin-bottom: 40px;

            font-size: 28px;
            line-height: 28px;
          }

          &__list {
            margin-bottom: 40px;

            &__list-item {
              font-size: 18px;
              line-height: 22px;
            }
          }

          &__link {
            &-info {
              font-size: 18px;
              line-height: 22px;
            }

            &-button {
              &__text {
                font-size: 18px;
                line-height: 22px;
              }
            }
          }
        }
      }
    }
  }

  footer {
    .footer-container {
      width: 360px;

      display: flex;
      flex-direction: column;
      align-items: center;

      &__column {
        min-width: 0;
        width: 240px;

        margin-left: 0;

        align-items: stretch;

        text-align: center;

        &-headline {
          margin-bottom: 8px;
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  header {
    max-width: 360px;

    margin: 20px auto 60px auto;

    .text-logo {
      height: 32px;
    }

    .menu-container {
      &__text {
        display: none;
      }
    }
  }

  section {
    max-width: 100%;

    &#contact {
      .contact-container {
        &__info-block {
          width: 100%;
          max-width: 300px;

          padding: 20px;
          margin: 0 20px;

          &__headline {
            max-width: 320px;

            margin-bottom: 40px;

            font-size: 28px;
            line-height: 28px;
          }

          &__list {
            margin-bottom: 40px;

            &__list-item {
              font-size: 18px;
              line-height: 22px;
            }
          }

          &__link {
            &-info {
              font-size: 18px;
              line-height: 22px;
            }

            &-button {
              &__text {
                font-size: 18px;
                line-height: 22px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 240px) {
  header {
    max-width: 240px;

    margin: 20px auto 60px auto;

    .text-logo {
      height: 24px;
    }

    .menu-container {
      &__text {
        display: none;
      }

      &__icon {
        transform: scale(75%);
      }
    }
  }

  section {
    max-width: 100%;

    &#main {
      margin-bottom: 170px;
    }

    &#about {
      .about-container {
        &__block {

          &-content {
            width: 100%;

            &__headline {
              font-size: 32px;
            }

            &__text {
              max-width: 240px;
            }
          }
        }
      }
    }

    &#projects {
      .projects-container {
        &__headline {
          font-size: 32px;
        }

        &__grid-container {
          max-width: 100%;
          width: 100%;

          &__block {
            height: 380px;

            padding: 0 16px;

            &__info-line {
              height: 60%;

              flex-direction: column;
              justify-content: center;

              &__info-container {
                margin-top: 16px;
                &__project {
                  &-type {
                    text-align: center;
                  }
                  &-name {
                    text-align: center;

                    font-size: 18px;
                  }
                }
              }
            }

            &__description-line {
              height: 40%;

              &__text {
                font-size: 14px;
              }
            }
          }
        }
      }
    }

    &#contact {
      .contact-container {
        &__info-block {
          width: 100%;
          max-width: 240px;

          padding: 10px;
          margin: 0;

          &__headline {
            max-width: 240px;

            margin-bottom: 40px;

            font-size: 20px;
            line-height: 20px;
          }

          &__list {
            margin-bottom: 40px;

            &__list-item {
              font-size: 14px;
              line-height: 18px;
            }
          }

          &__link {
            &-info {
              font-size: 14px;
              line-height: 18px;
            }

            &-button {
              &__text {
                font-size: 14px;
                line-height: 18px;
              }
            }
          }
        }
      }
    }
  }

  footer {
    .footer-container {
      width: 200px;

      &__column {
        min-width: 0;
        width: 200px;

        margin-left: 0;

        align-items: stretch;

        text-align: center;

        &-headline {
          margin-bottom: 8px;
        }
      }
    }
  }
}
