@media screen and (max-width: 1024px) {
  header {
    max-width: 1024px;

    margin: 60px auto 110px auto;
  }

  section {
    max-width: 1024px;

    padding: 0 20px;

    &#main {
      .main-container {

        &__column {
          margin-bottom: 310px;

          &-logo {
            margin-bottom: 50px;
          }
        }
      }
    }

    &#about {
      .about-container {
        &__block {
          &-content {
            width: 330px;

            &__headline {
              font-size: 56px;
            }

            &__info-block {
              &__headline {
                font-size: 64px;
              }

              &__subtitle {
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 115%;

                color: #FFFFFF;
              }

              &:nth-child(1) {
                max-width: 165px;
                max-height: 165px;

                top: -40px;
                left: 50px;
              }
              &:nth-child(3) {
                max-width: 250px;
                max-height: 250px;

                top: 40px;
                left: 20px;

                padding: 36px 0;
              }
            }
          }
        }
      }
    }

    &#projects {
      .projects-container {

        &__headline {
          margin-bottom: 64px;

          font-size: 56px;
        }

        &__grid-container {
          max-width: 100%;

          margin-bottom: 64px;
          padding: 0 20px;
        }

        &__button-container {
          width: 100%;
        }
      }
    }

    &#contact {
      .contact-container {
        &__info-block {
          width: 80%;

          &__headline {
            margin-bottom: 40px;

            font-size: 32px;
            line-height: 36px;
          }

          &__list {
            margin-bottom: 40px;

            &__list-item {
              font-size: 20px;
              line-height: 24px;
            }
          }

          &__link {
            &-info {
              font-size: 20px;
              line-height: 24px;
            }

            &-button {
              &__text {
                font-size: 20px;
                line-height: 24px;
              }
            }
          }
        }
      }
    }
  }
}
